
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a href="/"><img src="/Media/@ViewBag.LogoId" height="60" alt="Realestate"> @ViewBag.LogoId</a>
