
@{
    ViewData["Title"] = "Abone Ekleme";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<form class="col-lg-6" method="post" >
    <div class="card">
        <div class="card-header"><strong>Abone Ekleme</strong><small> </small></div>
        <div class="card-body card-block">
            <div class="form-group"><label for="Email" class=" form-control-label">Email</label><input required type="email" id="Email" name="Email" placeholder="E Posta giriniz" class="form-control"></div>

            <button type="submit" class="btn btn-outline-success ">Ekle</button>

        </div>
    </div>
</form>